@import './dropdown.scss';
@import '_form';
@import './header.scss';
@import './home.scss';
@import './section';

:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 0;
    outline-color: #F7931D;
}

label {
    display: none;
}