.landing-page {
    display: flex;
    flex-direction: row;

    &__left-content {
        .landing-image {
            background-image: url('../images/launch-home.png');
            background-repeat: no-repeat;
            height: 695px;
            width: 534px;
            margin-left: 30px;
        }
    }
}